{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}uprofile{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'accounts/favicon.png' %}"/>
        <link href="{% static 'accounts/css/global.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Cousine" rel="stylesheet" type="text/css">
        <script src="{% static 'accounts/js/autogrow.js' %}" type="text/javascript"></script>
        <script src="{% static 'accounts/js/global.js' %}" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>

    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <section>
            <a href="{% url 'accounts:home' %}">Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'accounts:view_profile' %}">View your Profile</a>
            <a href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:register' %}">Register an account</a>
            {% endif %}
        </section>
        {% block content %}{% endblock %}
    </body>
</html>
